@if (permissions.length !== 0) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.PERMISSIONS" | translate }}</strong>
  </p>
} @if (permissions.length !== 0) {
  <ul>
    @for (permission of permissions; track permission) {
      <li>{{ permission.name }}</li>
    }
  </ul>
} @if (status && status !== ApplicationStatus.NONE) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.STATUS" | translate }}</strong
    >{{ "APPLICATION.STATUS." + status | translate }}
  </p>
} @if (startDate) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.START-DATE" | translate }}</strong
    >{{ startDate | dateOnly }}
  </p>
} @if (endDate) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.END-DATE" | translate }}</strong
    >{{ endDate | dateOnly }}
  </p>
} @if (category) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.CATEGORY" | translate }}</strong
    >{{ category }}
  </p>
} @if (owner) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.OWNER" | translate }}</strong
    >{{ owner }}
  </p>
}

@if (contactPerson) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSON" | translate }}</strong
    >{{ contactPerson }}
  </p>
} @if (contactEmail) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-EMAIL" | translate }}</strong
    >{{ contactEmail }}
  </p>
} @if (contactPhone) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PHONE" | translate }}</strong
    >{{ contactPhone }}
  </p>
}

@if (contactPersons.length > 0) {
  <fieldset>
    <legend>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSONS" | translate }}</legend>

    @for (person of contactPersons; track person) {
      <div class="person">
        @if (person.name) {
          <p>
            <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSON-NAME" | translate }}</strong
            >{{ person.name }}
          </p>
        }
        @if (person.role) {
          <p>
            <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSON-ROLE" | translate }}</strong
            >{{ person.role }}
          </p>
        }
@if (person.email) {
        <p>
          <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSON-EMAIL" | translate }}</strong
          >{{ person.email }}
        </p>
      } @if (person.phone) {
        <p>
          <strong>{{ "APPLICATION.METADATA-FIELD.CONTACT-PERSON-PHONE" | translate }}</strong
          >{{ person.phone }}
        </p>
      }
      </div>
    }

  </fieldset>
}

<p>
  <strong>{{ "APPLICATION.METADATA-FIELD.PERSONAL-DATA" | translate }}</strong
  >{{ (personalData ? true.toString() : false.toString()) | translate }}
</p>
@if (hardware) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.HARDWARE" | translate }}</strong
    >{{ hardware }}
  </p>
} @if (controlledProperties?.length) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.CONTROLLED-PROPERTY" | translate }}</strong
    >{{ controlledPropertyText }}
  </p>
} @if (deviceTypes?.length) {
  <p>
    <strong>{{ "APPLICATION.METADATA-FIELD.DEVICE-TYPE" | translate }}</strong
    >{{ deviceTypeText }}
  </p>
}
